StackLayout {
    vertical-align: top;
    margin-top: 20;
}

.action-image {
    width: 40;
    height: 40;
    vertical-align: center;
}

.custom-tf {
    margin-top: 20;
    text-align: center;
    font-size: 30;
    width: 250;
    color: white;
    border-bottom-color: white;
}

#wifi_save {
    width: 86.67;
    height: 78.4;
    margin-top: 40;
}